{% extends 'layouts/main.html' %}
{% block title %}Books{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">

     <div class="all_books">
<ul class='list-inline'>
    <li class='book'>
        <img src='/static/images/blue.png'  alt="book cover place holder"/>
    </li>

    <li class='book'>
        <img src='/static/images/Green.png'  alt="book cover place holder"/>
    </li>

    <li class='book'>
        <img src='/static/images/pink.png'  alt="book cover place holder"/>
    </li>
    <li class='book'>
        <img src='/static/images/yellow.png'  alt="book cover place holder"/>
    </li>
</ul>
    <ul class="list-inline">
     {% for book in books %}
        {% if books|length <=4 %}
             <li class="book-titles">{{ book.title}}</li>
         {% endif %}
     {%endfor%}



    </ul>
</div>
</div>
</div>
{% endblock %}