{% extends 'layouts/main.html' %}
{% block title %}Books{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1> Books 🔥</h1>
     <div class="all_books">
<ul class='list-inline'>
    <li class='book'>
        <img src='blue.png' />
    </li>

    <li class='book'>
        <img src='Green.png' />
    </li>

    <li class='book'>
        <img src='pink.png' />
    </li>
    <li class='book'>
        <img src='yellow.png' />
    </li>




</ul>

</div>
</div>
{% endblock %}