{% extends 'layouts/main.html' %}
{% block title %}Books{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">

     <div class="all_books">
<ul class='list-inline'>
    <li class='book'>
        <img src='/static/images/blue.png' />
    </li>

    <li class='book'>
        <img src='/static/images/Green.png' />
    </li>

    <li class='book'>
        <img src='/static/images/pink.png' />
    </li>
    <li class='book'>
        <img src='/static/images/yellow.png' />
    </li>
</ul>
    <ul class="list-inline">
          {% for book in books %}

             <li class="book-titles">{{ book.title}}</li>
            {%endfor%}


    </ul>
</div>
</div>
</div>
{% endblock %}