<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <title>{% block title %}{% endblock %} The Banned Book Project</title>
    {% endblock %}
 <link rel="stylesheet" href="/static/CSS/mainlayout.css" />
 <link rel="stylesheet" href ="/static/CSS/books.css">
 <link rel="stylesheet" href ="/static/CSS/authors.css">
</head>
<body>
<nav>
    <ul class="navigation_bar_main">
        <li><a href="/">Home</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/countries">Countries</a></li>
        <li style="float: right"><a href="/">Login</a></li>
    </ul>
</nav>

 <div class="search_bar">
    <div class="search_container">
        <div class="search_content">
            <input type="search" placeholder="Search for a book" onkeypress="return searchFunction(event)"/><i class="a-icon a-icon-search"></i>
        </div>
    </div>
</div>

<div>

</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>

<script src="{{url_for('static', filename='main.js')}}"></script>
</body>

</html>
