<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

    <title>{% block title %}{% endblock %} The Banned Book Project</title>
    {% endblock %}
 <link rel="stylesheet" href="/static/CSS/mainlayout.css" />
 <link rel="stylesheet" href ="/static/CSS/books.css">
 <link rel="stylesheet" href ="/static/CSS/authors.css">

</head>
<body>
<nav>
    <ul class="navigation_bar_main">
        <li><a href="/">Home</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/countries">Countries</a></li>
         <li style="float: right"><a href="/">Login</a></li>
         <!-- <li style="float: right"><a href="/">isHomePageDelete</a></li> -->
        {% if isHomePage %}
        <li style="float: right"><a href="#ex1" rel="modal:open">Delete</a></li>
        <div id="ex1" class="modal">
                {% for book in books %}
                 <li style="display: block"><h3>{{ book.title}}</h3></li><button class="delete-button" data-id ="{{ book.id }}">Delete</button>
                {%endfor%}
                <br>
                 <a href="#" rel="modal:close"></a>
        </div>
        {% endif %}
        <li style="float: right"><a href="/">Edit</a></li>


    </ul>
</nav>

 <div class="search_bar">
    <div class="search_container">
        <div class="search_content">
            <input type="search" placeholder="Search for a book" onkeypress="return searchFunction(event)"/><i class="a-icon a-icon-search"></i>
        </div>
    </div>
</div>

<div>

</div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}

        {% endblock %}
    </div>

<script src="{{url_for('static', filename='main.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</body>

</html>
