{% extends 'layouts/main.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="form_container">
    <div class="form_header">

    <h2> Add A new Book</h2>
        </div>
            <form class="book-form" id="book-form">
                <div class="book-form-control">
                <label>Title</label>
                <input type="text" placeholder="Add a title" id="book-Name">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation"></i>
                 <small>Error Message</small>
                </div>
                <div class="book-form-control">
                <label>Synopsis</label>
                <input type="text" placeholder="Add synopsis" id="book-synopsis">
                 <i class="fas fa-check-circle"></i>
                    <i class="fas fa-exclamation-circle"></i>
                 <small>Error Message</small>
                 </div>
                <div class="book-form-control">
                    <label>Link to book cover</label>
                <input type="text" placeholder="please link a book cover" id="book-cover">
                <i class="fas fa-check-circle"></i>
                <i class="fas fa-exclamation"></i>
                <small>Error Message</small>
            </div>
        <button id="submit-book"  onclick=bookchecked()>SUBMIT</button>
        </form>

    </div>

{% endblock %}