{% extends 'layouts/main.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="form_container">
<div class="form_header">
    <h2>Edit Writer Details: <br>
        <i>{{ author.name }}</i>
    </h2>
</div>
<form class="form" id="form">
    <div class="form-control">
        <label>Name</label>
        <input type="text" placeholder="Update authors name" id="Name">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation"></i>
        <small>Error Message</small>
    </div>
      <div class="form-control">
        <label>DOB</label>
        <input type="date" placeholder="update date of birth" id="DOB">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation-circle"></i>
        <small>Error Message</small>
    </div>
      <div class="form-control">
        <label>About</label>
        <input type="text" placeholder="text" id="About">
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-exclamation"></i>
        <small>Error Message</small>
    </div>
    <button id="submit-author" data-id ="{{ author.id }}" onclick=edit_writer() >SUBMIT</button>
</form>
</div>
{% endblock %}